/* radio.css */

.radio-container {
  position: relative;
}

.current-radio-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/quran.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99999999;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.255); /* Semi-transparent overlay */
  position: relative;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.back-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.current-radio-name {
  color: gold !important;
  margin-left: 10px;
  font-size: 1.2rem;
  font-family: "Cairo", sans-serif;
}

.equalizer {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.equalizer .equalizer-bar {
  width: 10px !important;
  height: 80px !important;
  background-color: gold !important;
  animation: equalizerAnimation 1s infinite;
}

.equalizer-bar:nth-child(1) {
  animation-delay: 0s;
}

.equalizer-bar:nth-child(2) {
  animation-delay: 0.2s;
}

.equalizer-bar:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes equalizerAnimation {
  0% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.4);
  }
}
.current-radio-info {
  margin-bottom: 20px;
  text-align: center;
}

.current-radio-title {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.radio-info-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #2196f3;
}

.current-radio-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust as needed */
}

.radios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.radio-card {
  background-color: var(--card-color);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}
.sketlon-card {
  background-color: whitesmoke;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}
.radio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.radio-card.active {
  border-color: mediumvioletred;
  box-shadow: 0 3px 8px rgba(199, 21, 134, 0.986);
}

.radio-image-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  overflow: hidden;
}

.radio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playing-indicator {
  position: absolute;
  top: 18px;
  left: 50%;
  display: flex;
  gap: 3px;
  z-index: 100;
}

.equalizer-bar {
  width: 4px;
  height: 10px;
  background-color: mediumvioletred;
  animation: equalizer 1s infinite ease-in-out;
}

.equalizer-bar:nth-child(1) {
  animation-delay: -0.4s;
}

.equalizer-bar:nth-child(2) {
  animation-delay: -0.2s;
}

.equalizer-bar:nth-child(3) {
  animation-delay: 0s;
}

@keyframes equalizer {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
.radio-card.active .radio-name {
  color: mediumvioletred !important;
}
.radio-name {
  padding: 5px;
  font-weight: bold;
  color: var(--text-color);
  font-family: "Cairo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.search-icon-button,
.close-search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  background-color: #2196f3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #2196f3;
  color: var(--text-color) !important;
  background-color: var(--card-color);
  border-radius: 5px;
  outline: none;
}
.search-input::placeholder {
  color: var(--text-color) !important;
}
.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

/* Adjustments for the radio container when the search is visible */
.radio-container.with-search {
  margin-top: 50px;
}

/* Ensure the rest of your styles remain unchanged */
