.options {
  margin-top: 10px;
  padding: 8px;
  display: grid;
  width: 100%; /* Full width of the container */
  height: max-content; /* Height based on the content */
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 15px; /* Reduced gap between items */
  place-items: center; /* Center items within their cells */
  justify-items: center; /* Center items horizontally in their grid cells */
}
.options div {
  width: 100%;
}
.options button {
  max-width: 50px !important;
}

.blue {
  color: rgb(87, 90, 13) !important;
  font-weight: bold;
}

.red {
  color: rgb(60, 7, 7);
  font-weight: bold !important;
}

.green {
  color: green !important;
}

.qpc-hafs {
  font-size: 0.9em;
  font-style: italic;
}

.reference {
  color: darkgray;
  font-size: 0.85em;
}
/* Custom styles for Arabic text */
.arabic {
  font-family: "Amiri", serif; /* Use an appropriate Arabic font */
  text-align: right; /* Align text to the right for Arabic script */
  font-size: 1.2em; /* Adjust font size as needed */
  line-height: 1.6; /* Set a comfortable line height */
}

/* Styles specific to the Quranic script */
.qpc-hafs {
  font-size: 1em; /* Adjust font size */
  font-style: italic; /* Make the text italic for emphasis */
  color: #006400; /* A dark green color for Quranic text */
}

/* Style for the color 'brown' */
.brown {
  color: #8b4513; /* Set text color to brown */
}

/* Add more specific styles if needed */
.text-justify {
  color: black;
  font-weight: bold;
}
.alert-gold {
  background-color: rgba(53, 38, 186, 0.153);
  color: rgb(21, 105, 240);
}
/* Custom class to change the close button color */
.btn-close-custom {
  background-color: transparent; /* Set background to transparent */
  border: none; /* Remove default border */
}

.alert-dismissible .btn-close {
  width: max-content;
  opacity: 1; /* Make sure the color is fully visible */
  height: max-content;
}
.warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.explained-ayah {
  color: crimson;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.tafsir-navs {
  background-color: var(--nav-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px !important;
  width: 100% !important;
  margin-inline: 0 !important;
}

.css-ymaf6v-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: mediumvioletred !important;
  font-weight: bold;
}
.css-1aquho2-MuiTabs-indicator,
.MuiTabs-indicator {
  position: absolute;
  height: 2px !important;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  background-color: mediumvioletred !important;
}
.css-ymaf6v-MuiButtonBase-root-MuiTab-root {
  font-family: "Cairo", sans-serif !important;
  color: var(--text-color) !important;
}
.audio-tafsir-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 10px;
}
.audio-tafsir-container {
  background-color: var(--card-color) !important;
  color: var(--text-color) !important;
  border-radius: 8px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-tafsir-container:hover {
  border-color: #c71585; /* mediumvioletred */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.audio-tafsir-container.active {
  border-color: #c71585;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.loader-placeholder {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
