.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: var(--header-bg-color) !important;
  color: var(--header-text-color) !important;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 8px;
  height: max-content;
  margin-top: 3vh;
}
.footer p {
  color: var(--header-text-color) !important;
}
.footer a {
  text-decoration: none;
  color: burlywood;
}
.d-ltr {
  direction: ltr;
  unicode-bidi: embed;
}
