.quran-player {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--player-bg-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  direction: ltr !important;
  transition: 0.5s;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  transition: 0.5s;
  z-index: 9999999;
}
.quran-player.active {
  bottom: 0;
}
.player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.current-time,
.duration {
  margin: 0 10px;
  font-size: 0.9em;
}

.bar {
  width: 100%; /* Full width of its container */
  height: 2px !important; /* Slider thickness */
  border-radius: 1px !important; /* Rounded corners for the slider */
  overflow: visible;
}

/* Style for the thumb (the draggable circle) */
.bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default styling in WebKit browsers */
  margin-top: 0; /* Centers the thumb vertically on the track */
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: black !important; /* Thumb color */
  border: 2px solid white !important; /* White border around the thumb */
  border-radius: 50%; /* Makes the thumb circular */
  cursor: pointer; /* Cursor appears as a pointer when hovering over the thumb */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 3px;
}

button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

/* loader */
.dot-spinner {
  --uib-size: 2rem;
  --uib-speed: 0.9s;
  --uib-color: #767a81;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  width: 30px;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
.surah-name {
  color: rgb(28, 208, 67);
  -webkit-text-stroke: 0.2px rgb(3, 21, 10);
  font-size: 20px;
}

.btn-gold {
  background-color: var(--card-color);
}
.record-dot {
  width: 8px !important;
  height: 8px !important;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
