* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --header-bg-color: #142641;
  --header-text-color: #d0d0d0;
  --bg-color: #dfdecc;
  --text-color: #000000;
  --card-color: white;
  --border: 1px solid white;
  --search-card-bg: #33333348;
  --search-border: 1px solid #444;
  --nav-link-color: rgb(14, 207, 37);
  --outlets-bg-color: white;
  --surah-border: 1px solid #333333;
  --surah-hover-color: navy;
  --nav-color: white;
  --tabs-bg-color: rgba(0, 0, 0, 0.153);
  --ayah-text-color: navy;
  --dropdown-bg-color: white;
  --player-bg-color: #314159;
  --primary-color: #2a9d8f;
  --secondary-color: #e76f51;
  --tertiary-color: #264653;
  --quaternary-color: #f4a261;
  --scrolled-ayah-bg: rgba(0, 128, 0, 0.436);
  --scolled-ayah-color: navy;
  --main-color: coral;
  --shadow-primary-color: rgb(204, 219, 232);
  --shadow-secondary-color: rgba(255, 255, 255, 0.5);
  --api-card: #ddeedf;
  --names-color: rgb(29, 14, 108);
}

body.dark-mode {
  --header-bg-color: #040101;
  --header-text-color: #ffffff;
  --bg-color: black;
  --text-color: #ffffff;
  --card-color: rgba(0, 0, 0, 0.956);
  --border: 1px solid gold;
  --nav-link-color: #1b87a5;
  --outlets-bg-color: #040303;
  --surah-border: 1px solid white;
  --surah-hover-color: #1b87a5;
  --nav-color: rgba(128, 128, 128, 0.158);
  --ayah-text-color: rgb(241, 170, 18);
  --dropdown-bg-color: rgba(0, 0, 0, 0.153);
  --player-bg-color: rgb(8, 27, 42);
  --primary-color: #00bfa6;
  --secondary-color: #f0937a;
  --tertiary-color: #a3c4bc;
  --quaternary-color: #ffb4a1;
  --scrolled-ayah-bg: rgba(54, 87, 217, 0.436);
  --scolled-ayah-color: gold;
  --main-color: coral;
  --shadow-primary-color: rgb(31, 103, 167);
  --shadow-secondary-color: rgba(255, 255, 255, 0.5);
  --api-card: #010e01;
  --names-color: gold;
}
body.light-filter {
  --header-bg-color: rgb(81, 85, 27);
  --header-text-color: rgb(235, 202, 202);
  --bg-color: rgb(178, 174, 159);
  --text-color: rgb(3, 2, 1) !important;
  --card-color: rgb(178, 174, 159);
  --border: 1px solid gold;
  --nav-link-color: rgb(126, 101, 11);
  --outlets-bg-color: rgb(178, 174, 159);
  --surah-border: 1px solid white;
  --surah-hover-color: rgb(7, 24, 73);
  --nav-color: rgba(94, 91, 85, 0.196);
  --ayah-text-color: #253987;
  --scrolled-ayah-bg: rgba(0, 128, 0, 0.436);
  --scolled-ayah-color: gold;
  --dropdown-bg-color: rgb(178, 174, 159);
  --player-bg-color: rgb(81, 85, 27);
  --nav-link-color: rgb(27, 230, 24);
  --tabs-bg-color: rgba(8, 4, 4, 0.479);
  --main-color: rgb(70, 17, 182);
  --api-card: #ddeedf;
  --names-color: rgb(6, 23, 106);
}
body.image {
  --header-bg-color: rgba(0, 0, 0, 0.896);
  --header-text-color: #866464;
  --bg-color: rgba(0, 0, 0, 0.5);
  --text-color: #ffffff;
  --card-color: rgba(0, 0, 0, 0.74);
  --border: 1px solid #ffffff;
  --nav-link-color: #1ec832;
  --outlets-bg-color: rgba(0, 0, 0, 0.904);
  --surah-border: 1px solid #ffffff;
  --surah-hover-color: #ffcc00;
  --nav-color: rgba(50, 42, 42, 0.701);
  --ayah-text-color: #0aa4a4;
  --dropdown-bg-color: rgba(0, 0, 0, 0.6);
  --player-bg-color: rgb(8, 27, 42);
  --scrolled-ayah-bg: rgba(15, 163, 213, 0.436);
  --scolled-ayah-color: gold;
  --tabs-bg-color: rgba(180, 154, 154, 0.5);
  --main-color: coral;
  --names-color: gold;
  --api-card: #021602;
  background: url("./components/images//bg4.avif") no-repeat center;
  background-size: cover;
}

/* Contrast mode styles */

/* Optional: Add a semi-transparent overlay to increase brightness */
body.brightness::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white overlay */
  pointer-events: none;
  z-index: 9999; /* Ensure it's above other elements */
}
body.fonts {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  direction: rtl;
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
  padding: 0 !important;
}
body *::selection {
  background-color: #164119;
  color: #fff;
}
body * {
  text-align: justify !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* For Firefox */
body *::-moz-selection {
  background-color: #164119;
  color: #fff;
}

body {
  padding-top: 85px !important;
}
@media screen and (max-width: 500px) {
  body {
    padding-top: 0px !important;
    margin-top: 0;
    margin-bottom: 0;
  }
}

body.en > div {
  direction: ltr !important;
}
body.sm {
  font-size: 14px !important;
}
body.md {
  font-size: 18px !important;
}
body.lg {
  font-size: 24px !important;
}

.container-fluid {
  background-color: transparent;
}
.card {
  background-color: var(--card-color);
  color: var(--text-color);
}
/* width */
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  direction: ltr;
  z-index: 10;
}
/* Keyframe for slide-in with overshoot */
@keyframes slideInElastic {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Initial state */
.lazy-component-wrapper {
  opacity: 0;
  transform: translateX(100%);
}

/* Final state when loaded */
.lazy-component-wrapper.loaded {
  animation: slideInElastic 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}
.custom-cursor {
  cursor: url("./components//images/logo.png") !important; /* Add your custom cursor image */
}
.primary {
  color: rgba(11, 107, 203, 1) !important ;
}
.danger {
  color: #c41c1c !important;
}
.error {
  color: #c41c1c !;
}
.back-to-top {
  position: fixed !important;
  right: 10px;
  bottom: 15%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b87a5;
  color: white !important;
  z-index: 999 !important;
}
.back-to-top:hover {
  background-color: #1b87a5;
  color: white !important;
}
.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: var(--card-color);
}
.Toastify__toast {
  --y: 0;
  position: relative;
  touch-action: none;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: var(--toastify-toast-bd-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  z-index: 0;
  overflow: hidden;
  background-color: var(--card-color) !important;
  border: 1px solid white;
}
